.listings {
  background: #333;
  height: 100%;
  min-height: 40vh;

  h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding: 5vh 0;
  }
}

.episode {
  width: 80vw;
  display: flex;
  border-bottom: 1px solid #000;
  height: 20vh;
  align-items: center;
  margin: 1vh auto;
  overflow: hidden;

  .imageContainer {
    width: 33%;
    height: 100%;
  }
  .img {
    width: 80%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .episodeText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    width: 55%;

    .title,
    .forum {
      width: 33%;
    }

    .forum {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h5 {
      overflow: hidden;
      a {
        color: #fff;
        font-weight: 300;
        border: 1px solid #fff;
        padding: 1vh 2vw;
        border-radius: 10px;
        transition: 1s ease;
        overflow: hidden;

        &:hover {
          background: #fb7ea1;
          border: 1px solid #fb7ea1;
        }
      }
    }
    h3 a {
      color: #fff;
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1280px) {
  .episode {
    width: 95vw;
  }
}

@media screen and (max-width: 768px) {
  .episode {
    .episodeText {
      flex-direction: column;

      .forum {
        width: 100%;
      }
      h3 {
        text-align: center;
      }
    }
  }
}
