.Stats {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  // justify-content: center;
  align-items: center;

  #trailer {
    width: 20vw;
    height: 90%;
    margin-left: 5vw;
  }
  .bgImage {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;
      font-weight: 700;
    }

    p {
      color: #fff;
      width: 90%;
      font-weight: 300;
      text-align: center;
    }
    .information {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      .info {
        width: 35%;
      }

      h5 {
        color: #fff;
        width: 100%;
        font-weight: 400;
        font-size: 1em;
        text-align: left;

        img {
          height: 25px;
          margin-right: 0.5vw;
          transform: translateY(3px);
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .Stats .text .information .info {
    width: 40%;
  }
}

@media screen and (max-width: 1192px) {
  .Stats {
    height: 70vh;
    .text {
      .information {
        flex-direction: column;

        .info {
          height: 5vh;
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(odd) {
            background: #000;
          }
        }
        h5 {
          margin-left: 15vw;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .Stats {
    flex-direction: column;
    height: 90vh;
    #trailer {
      width: 60vw;
      height: 20vh;
      margin-top: 5vh;
    }
  }
}

@media screen and (max-width: 768px) {
  .Stats {
    height: 95vh;
    .text {
      width: 80vw;
      p {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Stats {
    height: 100vh;

    .text {
      width: 95vw;
      .information {
        h5 {
          font-size: 0.8em;

          img {
            height: 15px;
          }
        }
      }
    }

    .info {
      margin: 0 auto;
    }
  }
}
