$pink: #fb7ea1;

.Hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://images6.alphacoders.com/656/thumb-1920-656029.png) no-repeat
      center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 1s ease;
  animation: hero 1s ease;

  h1 {
    color: #fff;
    font-weight: 300;
    font-size: 4em;
    text-align: center;
    width: 95%;
    animation: title 1s ease;
  }

  h3 {
    border: 1px solid $pink;
    color: #fff;
    font-weight: 400;
    padding: 1vh 2vw;
    border-radius: 35px;
    transition: 1s ease;
    animation: button 2s ease;

    &:hover {
      background: $pink;
      cursor: pointer;
    }
  }
}

@keyframes title {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero {
  0% {
    height: 100vh;
  }
  100% {
    height: 40vh;
  }
}

@media screen and (max-width: 1192px) {
  .Hero h1 {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 768px) {
  .Hero h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 768px) {
  .Hero h1 {
    font-size: 1.5em;
  }
}
