.categoryContainer {
  background: #333;
  h2 {
    border-bottom: 1px solid #eee;
    width: 20vw;
    text-align: center;
    margin-left: 2vw;
    font-size: 2em;
    color: #fff;
    font-weight: 300;
  }
}
