.ReviewContainer {
  min-height: 80vh;
  background: #333;
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 10vh;
    color: #fff;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
  }
  .reviews {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    .review {
      width: 75vw;
      border: 1px solid #fff;
      margin: 1vh 0.5%;
      display: flex;
      height: 30vh;

      .imgContainer {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .img {
          height: 30vh;
          width: 10vw;
          background-size: cover;
          background-position: center;
          overflow: hidden;

          // border-radius: 50%;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .reviewText {
          h4 {
            width: 95%;
            margin: 1vh auto;
            color: #fff;
            font-weight: 300;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
          }
          overflow: hidden;
        }

        .reviewScores {
          display: flex;
          width: 100%;
          background: #3885e4;
          height: 30%;
          justify-content: center;
          overflow: hidden;

          h6 {
            font-size: 0.8em;
            margin: 1vh 2.5%;
            display: flex;
            align-items: center;
            color: #fff;
            font-weight: 300;
            overflow: hidden;

            img {
              height: 20px;
              margin-right: 1vw;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .ReviewContainer .reviews .review {
    width: 85vw;

    .imgContainer .img {
      width: 15vw;
    }
    .text h4 {
      width: 85%;
    }
  }
  .reviewScores {
    width: 15vw;
  }
}

@media screen and (max-width: 991px) {
  .ReviewContainer .reviews .review .text {
    .reviewScores {
      height: 20%;
    }
    .reviewText {
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .ReviewContainer .reviews {
    width: 90vw;
    // #FFB600
    .review {
      width: 90vw;
      height: 50vh;
      flex-direction: column;
      background: linear-gradient(#009ad3, #182d5c);

      .imgContainer {
        height: auto;
        margin: 1.5vh auto;

        .img {
          height: 10vh;
        }
      }

      .text {
        .reviewText {
          transform: translateY(5vh);
        }
        .reviewScores {
          background: #ffb600;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ReviewContainer .reviews .review {
    height: 60vh;
  }
}
