.Recommended {
  min-height: 60vh;
  background: #333;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    color: #fff;
    width: 99vw;
    font-weight: 300;
    font-size: 3em;
  }
  .recommendContainer {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .recommend {
      width: 20%;
      margin: 1vh 1.5%;
      height: 40vh;
      background: green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        width: 100%;
        height: 100%;
      }
      .text {
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 1s ease;

        &:hover {
          opacity: 1;
        }

        h3 {
          font-size: 2em;
          font-weight: 300;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1191px) {
  .Recommended {
    .recommendContainer {
      width: 85vw;

      .recommend {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Recommended {
    .recommendContainer {
      width: 85vw;

      .recommend {
        width: 45%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .Recommended {
    .recommendContainer {
      width: 85vw;

      .recommend {
        width: 100%;
      }
    }
  }
}
